$color_1: #03dac6;
$color_2: #ff0266;
$color_3: #2b2b2b;

$background_1: #1d1d1d;

%template_shadow {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

%template_tags {
  color: #515152;
  font-style: italic;
  font-size: 1rem;
  font-family: "La Belle Aurore", cursive;
}

/* color: #a972cb; */
/* color: #ef6eae; */
/* color: #ff7f82; */
/* color: #e4cb58; */
/* color: #ffa260; */
/* color: #e4cb58; */
/* color: #8fc866; */
/* color: #19bc8b; */
