@import "../../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm {
  width: 50%;
  @media screen and (max-width: 1200px) {
    width: 100%;
  }
}
.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.row {
  display: flex;
  gap: 1rem;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
