.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  position: relative;
  min-width: 500px;
  min-height: 250px;
  max-width: 500px;
  max-height: 800px;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
