@import "./variables";

// Смена темы
$theme-map: null;
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

// Контрастный цвет текста к фону
@function getTextColorBasedOnBG($color) {
  @if (lightness($color) > 50) {
    @return $my-class-bg-dark;
  } @else {
    @return $my-class-bg-light;
  }
}

@mixin applyThemedBgWithCorrectTextColor($bg-color) {
  @include themify($themes) {
    background: themed($bg-color);
    color: getTextColorBasedOnBG(themed($bg-color));
  }
}
