@import "../../../styles/variables";

.tag {
  position: relative;
  font-size: 3.75em;
  user-select: none;
  line-height: 1;
  margin: 1.5rem 0;
  &::before {
    @extend %template_tags;
    content: "<form>";
    position: absolute;
    top: -1.5em;
    left: -1em;
  }
  &::after {
    @extend %template_tags;
    content: "</form>";
    position: absolute;
    bottom: -1.5em;
    left: -1em;
  }
}
