@import "../../../styles/variables";

.p {
  position: relative;
  margin: 1rem 0;
  &::before {
    @extend %template_tags;
    content: "<p>";
    position: absolute;
    top: -1.3em;
    left: -1em;
  }
  &::after {
    @extend %template_tags;
    content: "</p>";
    position: absolute;
    bottom: -1.5em;
    left: -1em;
  }
}
